<div id="header">
	{% if site.site_name %}
		<span id="logo"><img src="/assets/images/logo2.png"></span>&nbsp;<span id="logo1">{{ site.site_name }}</span>
	{% endif %}

	<div class="vert"><a href="/index.html" class="button4">НА ГЛАВНУЮ</a></div>
</div>

<div id="sidebar">
	<div id="sidemenu"><a class="button3" href="../vvp/valovyy-vnutrenniy-produkt.html">ВВП</a></div>

	{% for post in page.posts %}
		<div id="sidemenu"><a class="button3" href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
	{% endfor %}

</div>